<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://nightmarebot.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/670e6938-6fd4-427a-8677-2a78197b96f8/resourceGroups/NightmareBot/providers/Microsoft.Web/sites/nightmarebot</ResourceId>
    <UserName>$nightmarebot</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://nightmarebot.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>